Django==6.0.2
gunicorn==25.1.0
whitenoise==6.11.0

# ATS Dependencies
scikit-learn==1.8.0
numpy==2.4.2
scipy==1.17.0
joblib==1.5.3
threadpoolctl==3.6.0

# PDF Resume Parsing
pdfminer.six==20260107
lxml==6.0.2

# Image Support (if using ImageField)
pillow==12.1.1

tzdata==2025.3
